/* PAGE CONTAINER */
.page-container {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(130deg, #4b4f5f, rgb(17, 17, 17));
}

/* Left Column */
.column-left {
    padding-top: 20px;
    padding-right: 100px;
    padding-left: 60px;
}

.column-left > .first-p p {
    color: rgb(149, 149, 149);
    font-size: 2.5em;
    font-weight: 100;
    margin-bottom: -10px;
}

.column-left > .first-p span {
    color: white;
    font-weight: 400;
}

.column-left > .second-p p {
    color: rgb(149, 149, 149);
    font-size: 2em;
    font-weight: 400;
    line-height: 45px;
}

.column-left > .buttons-wrapper {
    display: flex;
    justify-content: space-between;
    width: 500px;
    padding-top: 20px;
}

.column-left > .buttons-wrapper > .sign {
    background-color: #47cf73;
    color: black;
    font-weight: 600;
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    border: none;
    border-radius: 3px;
    padding: 15px 25px;
}

.column-left > .buttons-wrapper > .learn {
    background-color: black;
    color: white;
    font-weight: 600;
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    border: none;
    border-radius: 3px;
    padding: 15px 25px;
}

/* Right Column */
.column-right {
    margin-top: 30px;
}

.column-right p {
    color: white;
    font-size: 1.4em;
    font-weight: 500;
    padding-left: 20px;
    margin-bottom: 8px;
}

.column-right span {
    color: #76daff;
}

.column-right img {
    width: 600px;
}